<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
      </div>
    </div>
  </div>
  <!--Fixed Button-->
  <div style="position: fixed;right: 10px;bottom: 20px;">
    <ul class="list-inline text-center">
      <li class="list-item m-3" title="010-6631-2166">
        <a href="tel:010-6631-2166">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="list-item m-3" title="tjdfo2175@naver.com">
        <a href="mailto:tjdfo2175@naver.com">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="list-item m-3" title="https://github.com/seongraekim">
        <a href="https://github.com/seongraekim">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li class="list-item m-3" title="https://sseong66.tistory.com/">
        <a href="https://sseong66.tistory.com/">
          <img src="./img/Tistory_logo.png"/>
        </a>
      </li>
    </ul>
  </div>
</footer>
