<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');

  var typing = document.getElementById('intro');

  var typewriter = new Typewriter(typing, {
    loop: true
  });

  typewriter.typeString('안녕하세요 김성래입니다.')
    .pauseFor(1000)
    .deleteAll()
    .typeString('방문을 환영합니다.')
    .pauseFor(1000)
    .deleteAll()
    .typeString('오늘도 좋은 하루되세요^^')
    .start();
</script>

