<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');

  var typing = document.getElementById('intro');

  var typewriter = new Typewriter(typing, {
    loop: true
  });

  typewriter.typeString('Welcome!')
    .pauseFor(1000)
    .deleteAll()
    .typeString('김성래의 포트폴리오입니다.')
    .start();
</script>

